{%  extends "base.html" %}

{% block title %}Homepage{%  endblock %}

{%  block content %}
    <h1><center>Welcome to Davids Shop</center></h1>
    <h5><center><i> -Luxury watches at affordable prices.</i></center></h5>
        {% for p in products  %}
            <table>
                <tbody>
                    <tr>
                        <td width="10%">
                            <a href="/products/{{p.id}}">
                                <img src="{{p.image.url}}" alt="{{p.description}}" width="360" height="220">
                            </a>
                        </td>
                        <td width="25%">
                            <strong>Name:</strong><br/><a href="/products/{{p.id}}">{{p.name}}</a></br>
                            <strong>Description:</strong></br>{{p.description}}</br>
                            <!-- <strong><p style="color:red">- €{{p.price}}</p></strong> -->
                            <!-- <a href="/addbasket/{{p.id}}" class="btn btn-success">Buy €{{p.price}}</a> -->
                        </td>
                        <td width="15%">
                            <a href="/addbasket/{{p.id}}" class="btn btn-success">Buy €{{p.price}}</a>
                        </br>
                        {% if added == p.id %}
                            Added to <a href="/basket/">basket</a>
                        {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
{%  endblock %}