{% extends "base.html" %}

{% block title %}Order{% endblock %}

{% block content %}
    <h2>Previewing your order</h2>
    {% if empty %}
        <p>Your shopping basket is empty, continue shopping <a href="/">here</a></p>
    {% else %}
    <center>
        <table width="75%" class="bordered table">
            <tbody>
                {% for item in SBI %}
                    <tr>
                        <td>
                            <p>
                                <strong>Name:</strong><br/>{{item.ProductID.name}} 
                            </p>
                            <p>
                                <strong>Description:</strong><br/>{{item.ProductID.description}}
                            </p>
                        </td>
                        <td><a href="/products/{{item.ProductID.id}}"><img src="{{item.ProductID.image.url}}" width="360" height="220"/></a></td>
                        <td><strong>Quantity</strong><br/>{{item.Quantity}}</td>
                        <td><strong>Price</strong><br/><a style="color:red">€ {{item.Price}}</a></td>
                        <td><a href="/remove_item/{{item.id}}">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <Strong>Total order:</Strong><br>
        <a style="color:red">€ {{ total|floatformat:2 }}</a><br>
    {% endif %}
        <form method="POST", action=".">
            {% csrf_token %}
            {{ form.as_table }}     
            <button type="submit">Checkout</button>
        </form><br>
    </center>
{% endblock %}