{% extends 'base.html' %}

{% block title %}
    Product - {{product.name}} 
{% endblock %}

{% block content %}
    <center>
        <h2>{{product.name}}</h2>
        € {{product.price}}<br>
        <img src="{{product.image.url}}" alt="{{p.description}}" width="360" height="220"/>
        <p>
            <strong>About {{product.name}}:</strong><br>
            {{product.description}}
        </p>
        <a href="/addbasket2/{{product.id}}" class="btn btn-success">Buy €{{product.price}}</a>
        {% if added %}
            <br/>Added to <a href="/basket/">basket</a>
        {% endif %}
    </center>
{% endblock %}