{% extends "base.html" %}

{% block title %}Baket{% endblock %}

{% block content %}
    <h2>Viewing your basket content(s)</h2>
    {% if empty %}
        <p>Your shopping basket is empty, continue shopping <a href="/">here</a></p>
    {% else %}
    <center>
        <table width="75%" class="bordered table">
            <tbody>
                {% for item in SBI %}
                    <tr>
                        <td>
                            <p>
                                <strong>Name:</strong><br/>{{item.ProductID.name}} 
                            </p>
                            <p>
                                <strong>Description:</strong><br/>{{item.ProductID.description}}
                            </p>
                        </td>
                        <td><a href="/products/{{item.ProductID.id}}"><img src="{{item.ProductID.image.url}}" width="360" height="220"/></a></td>
                        <td><strong>Quantity</strong><br/>{{item.Quantity}}</td>
                        <td><strong>Price</strong><br/><a style="color:red">€ {{item.Price}}</a></td>
                        <td><a href="/remove_item/{{item.id}}">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <strong>Total order:</strong><br>
        <a style="color:red">€ {{ total|floatformat:2 }}</a>
        <form action="/order/">
            <button type="submit">Proceed to order checkout</button>
         </form>
    </center>
    <br>
    {% endif %}
{% endblock %}